---
# global
ansible_ssh_password: "{{ vault_ssh_password }}"
ansible_become_password: "{{ vault_sudo_password }}"
ansible_python_interpreter: "/usr/bin/python3"

# mariadb
mariadb_root_password: "{{ vault_mariadb_root_password }}"

# rabbitmq
rabbitmq_openstack_password: "{{ vault_rabbitmq_openstack_password }}"

# keepalived
keepalived_interface: "eth1"
keepalived_vip: "192.168.21.169"
...
